
*{
    padding: 0;
    margin: 0;
}

#container{
    width: auto;
    height: auto;
}

.adder-box, .btns-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}

.inputs{
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    text-align: center;
    font-family: var(--main-font);
}

.select-input{
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
}

#translation-btn{
    width: 10%;
    margin-left: 85%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.7vw;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: var(--main-font);
}

.btn-active {
    background-color: var(--soft-green);
}

.btn-inactive{
    background-color: var(--secondary-color-darker);
}

/*

#editor{
    width: 80%;
    margin-left: 10%;
}

#post-container{
    width: 100%;
    margin-top: 2%;
}

.inputs{
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    text-align: center;
    font-family: var(--main-font);
}

#post-btn{
    display: block;
    width: 150px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: var(--soft-green);
    color: white;
    font-family: var(--main-font);
}

#post-btn:hover{
    background-color: var(--green-hover);
    cursor: pointer;
}

.ql-toolbar{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    text-align: center;
}

*/