
* {
    padding: 0;
    margin: 0;
}

#essays-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.essay-item{
    width: 25%;
    margin: 3%;
    background-color: red;
}

.essay-item img{
    width: 100%;
    height: 100%;
}

.essay-title{
    display: block;
    margin: 0 auto;
    padding-top: 5%;
    color: var(--text-color);
    font-size: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

.essay-title:hover {
    color: var(--secondary-color);
}