
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="static/css/vars.css">
        <link rel="stylesheet" href="static/css/editor.css">
        <link rel="stylesheet" href="static/css/navbar.css">

        <!-- React -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/EditorController.js')}}"></script>
    </head>

    <body>
        <div id="container">
        </div>

        <!--

        <div id="post-container">
            <input type="text" id="essay-title" class="inputs" placeholder="Title" required>
            <input type="text" id="image" class="inputs" placeholder="Image" required>
            <input type="text" id="key" class="inputs" placeholder="Key" required>

            <div id="post-btn-container"></div>
        </div>

        <script>
            let test = new Editor(Quill);
            test.setup();
        </script>
    -->
        <script src="{{url_for('static', filename='bundles/editor.bundle.js')}}"></script>

    </body>

</html>