
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="static/css/vars.css">
        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="static/css/navbar.css">
        <link rel="stylesheet" href="static/css/projects.css">
        <link rel="stylesheet" href="static/css/project-adder.css">

        <!-- React -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">

    </head>

    <body>
        <div id="container"></div>
        <div id="adder"></div>
        <script src="{{url_for('static', filename='bundles/home.bundle.js')}}"></script>

        {% if current_user.is_authenticated %}
            <script src="{{url_for('static', filename='bundles/projectAdder.bundle.js')}}"></script>
        {% endif %}
    </body>

</html>